/*
  This is scoped CSS, technically. It'll be scoped to whatever file uses it.
  by 'whatever file uses it', I mean it'll be scoped to a file that calls it
  via require
*/

.container {
  width: 60%;
  margin: 0 auto;
}

.heading {
  color: #e14d43;
  text-transform: uppercase;
}

.paragraph {
  font-size: 16px;
  font-weight: bold;
  color: #888;
}
